body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .titulo {
    text-align: center;
    padding: 30px;
    margin-top: 4px;
    font-size: 40px;
    font-weight: bold;
  }
  
  #data-display {
    margin-bottom: 20px;
  }
  
  #health-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #health-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  #health-form input[type="text"],
  #health-form input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #health-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #health-form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button {
    align-content: center;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button:active {
    
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
   }

   .center-button {
    display: block;
    margin: 0 auto;
  }

  .box{
    max-width: 500px;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    margin-top: 30px;
  }

  delete-button{
    size: 50px;
  }

  .card {
    
    height: 254px;
    width: 500px;
    border-radius: 30px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    
  } 

.info{
    margin: 20px;
    width: auto ;
}

  